// Fuentes
$fuente_principal: "Poppins", sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 769px;
$desktop: 1024px;

// Colores
$blue: #4248fd;
$dark-gray: #51554f;
$red: #cb0000;
$green: #6cdd38;
$black: #1a1b15ee;

$white: #ffffffe8;
$gray: #e1e1e1cd;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$gross: 900;
